<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" style="size: 1.5rem;" [routerLink]="['/login']">
      <!-- <img src="./assets/img/brand/argon-white.png"> -->
      <b><span style="font-size: 1.5rem;"> Team 404</span></b>
      
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/login']">
              <!-- <img src="./assets/img/brand/blue.png"> -->
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        
        <!-- <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button"
          >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Pages</span>
          </a>
          <div class="dropdown-menu">
            <a *ngIf="getPath() !=='/login' && getPath()!=='/register' && getPath()!=='/home'" [routerLink]="['/landing']" class="dropdown-item">Landing</a>
            <a *ngIf="getPath()!=='/login' && getPath()!=='/register'  && getPath()!=='/home'" [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
            <a *ngIf="getPath() =='/register' || getPath() =='/home'" [routerLink]="['/login']" class="dropdown-item">Login</a>
            <a *ngIf="getPath() =='/login' || getPath() =='/home'" [routerLink]="['/register']" class="dropdown-item">Register</a>
          </div>
        </li> -->
        <li class="nav-item dropdown" *ngIf="getPath() =='/login'">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;" [routerLink]="['/home']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="getPath() =='/login'">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;" [routerLink]="['/register']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Register</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="getPath() =='/register'">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;" [routerLink]="['/login']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="getPath() =='/register'">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;" [routerLink]="['/home']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="getPath() =='/user-profile'">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;" [routerLink]="['/landing']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Landing</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="getPath() =='/user-profile'">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;" [routerLink]="['/home']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Logout</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="getPath() =='/landing'">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;" [routerLink]="['/user-profile']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Profile</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="getPath() =='/landing'">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" style="cursor: pointer;" [routerLink]="['/home']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Logout</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
