<main>
    <div class="position-relative">
      <!-- shape Hero -->
      
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg bg-gradient-default">
        <div class="container pt-lg pb-300">
          <div class="row text-center justify-content-center">
            <div class="col-lg-10">
              <h2 class="display-3 text-white">Customer Claims Detail & Analytics</h2>
              <button type="button" class="btn btn-success my-4">Approve claim</button>
              <button type="button" class="btn btn-danger my-4">Reject Claim</button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <!-- <img class="img-fluid" src="assets/img/theme/sc13.png" alt="First slide" [routerLink]="['/claims-details']"> -->
              <img class="img-fluid" src="assets/img/theme/sc12.png" alt="First slide">
              <img class="img-fluid" src="assets/img/theme/sc123.png" alt="First slide">
        
            </div>
          </div>
          <div class="row row-grid mt-5">
            <!-- <div class="col-lg-4">
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-chat-round text-primary"></i>
              </div>
              <h5 class="text-white mt-3">Friends & Family</h5>
              <p class="text-white mt-3">Refer friends or family and earn the rewards together </p>
            </div> -->
            <!-- <div class="col-lg-4">
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-planet text-primary"></i>
              </div>
              <h5 class="text-white mt-3">Forums/ Awareness sessions</h5>
              <p class="text-white mt-3">Awareness session on various common diseases
                like Sugar, diabetes, heart disease, many types of
                cancer, depression, anxiety and dementia etc.</p>
            </div> -->
            

          </div>
        </div>
        <!-- SVG separator -->

      </section>

    </main>